<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Waterfall Visualizer</title>
    <!-- Include Plotly.js library -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Waterfall Visualizer</h1>
    
    <div id="heatmap-container" style="width: 800px; height: 600px;"></div>
    <script type="text/javascript">
        const sample_rate_mhz = {{ sample_freq_input_value | tojson }};
        const waterfall_width = {{ waterfall_width | tojson }};
        const waterfall_height = {{ waterfall_height | tojson }};
        const waterfall_duration_sec = {{ waterfall_duration_input_value | tojson }};
        const waterfall_colorbar_zmin = {{ waterfall_colorbar_zmin | tojson }};

        function linspace(start, stop, num, endpoint = true) {
            const div = endpoint ? (num - 1) : num;
            const step = (stop - start) / div;
            return Array.from({ length: num }, (_, i) => start + step * i);
        }
        const waterfall_freq_axis = linspace(
            -sample_rate_mhz / 2.0, sample_rate_mhz/2.0, waterfall_width
        );
        const waterfall_time_axis = linspace(
            waterfall_duration_sec, 0.0, waterfall_height
        );

        function initializePlot() {
            var data = [{
                x: waterfall_freq_axis,
                y: waterfall_time_axis,
                z: Array(1).fill(Array(1).fill(0)),
                type: 'heatmap',
                zmin: waterfall_colorbar_zmin,
                zmax: 0.0,
                colorscale: 'Blues',
                colorbar: {
                    title: 'Power (dBFS)',
                    titleside: 'bottom'
                  }
            }];

            var layout = {
                title: '',
                xaxis: {
                    title: {
                      text: 'Baseband Frequency (MHz)',
                      font: { size: 18 }
                    }
                  },
                  yaxis: {
                    title: {
                      text: 'Time History (sec.)',
                      font: { size: 18 }
                    }
                  },
            };

            Plotly.newPlot('heatmap-container', data, layout);
        }

        function setupSSE() {
            const eventSource = new EventSource("/events");

            eventSource.onmessage = function(event) {
                const newZData = JSON.parse(event.data);

                // Only restyle z heatmap pixel values.
                Plotly.restyle('heatmap-container', 'z', [newZData]);
            };

            eventSource.onerror = function(err) {
                console.error("EventSource failed:", err);
                eventSource.close();
            };
        }

        window.onload = function() {
            initializePlot();
            setupSSE();
        };
    </script>

    <label>
        Plot Frame Update Rate:  {{ sse_update_rate }} FPS<br>
        Waterfall Pixel Resolution:  {{ waterfall_height }} x {{ waterfall_width }}<br>
        <br>
    </label>

    <form method="POST">
        <!-- Carrier Frequency Input -->
        <label for="carr_freq_input">Carrier Frequency: </label>
        <input type="number" id="carr_freq_input" name="carr_freq_input" min="1" step="0.000001" value="{{ carr_freq_input_value }}">
        <select id="carr_freq_input_unit_dropdown" name="carr_freq_input_unit_dropdown">
            <option value="Hz">Hz</option>
            <option value="kHz">kHz</option>
            <option value="MHz" selected>MHz</option>
            <option value="GHz">GHz</option>
        </select><br><br>

        <!-- Sampling Frequency Input -->
        <label for="sample_freq_input">Sampling Frequency: </label>
        <input type="number" id="sample_freq_input" name="sample_freq_input" min="1" step="0.000001" value="{{ sample_freq_input_value }}">
        <select id="sample_freq_input_unit_dropdown" name="sample_freq_input_unit_dropdown">
            <option value="Hz">Hz</option>
            <option value="kHz">kHz</option>
            <option value="MHz" selected>MHz</option>
            <option value="GHz">GHz</option>
        </select><br><br>

        <!-- Gain Input -->
        <label for="gain_input">Gain: </label>
        <input type="number" id="gain_input" name="gain_input" min="-100" max="100" step="1" value="{{ gain_input_value }}">
        <label for="gain_input_unit"> dB </label>
        <br><br>

        <!-- Recv Buffer Size -->
        <label for="recv_buffer_input">Rx Buffer Size: </label>
        <input type="number" id="recv_buffer_input" name="recv_buffer_input" min="1" step="1" value="{{ recv_buffer_input_value }}">
        <br><br>

        <!-- History Duration -->
        <label for="waterfall_duration_input">Waterfall Duration: </label>
        <input type="number" id="waterfall_duration_input" name="waterfall_duration_input" min="1" step="0.000001" value="{{ waterfall_duration_input_value }}">
        <label for="waterfall_duration_input"> sec. </label>
        <br><br>

        <!-- NFFT Size -->
        <label for="waterfall_nfft_input">Waterfall NFFT: </label>
        <input type="number" id="waterfall_nfft_input" name="waterfall_nfft_input" min="1" step="1" value="{{ waterfall_nfft_input_value }}">
        <br><br>

        <button type="submit" style="font-size: 14px; width: 100px; height: 20px;">Retune</button>
    </form>

</body>
</html>
